body, html{
    margin:0px;
    padding:0px;
    font-family:  sans-serif;
    height: 100%;
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Malaga.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat:round;
}
.banner
{
   /* Full height */
   height: 100%; 
}
 
   /* Center and scale the image nicely */
.NavBar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    width: 120px;
    
}
.NavBar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.NavBar ul li a
{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.NavBar ul li::after
{
  content: '';
  height: 3px;
  width: 0%;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease-out;
}
.NavBar ul li:hover::after
{
  width: 100%;

}
.image
{
    height: 145px !important;
    width: 245px !important;
    padding: 29px; 
    
}

.images{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
@media (max-width: 780px) {
    
    .images{
        flex-direction: column; 
        display: block; 
        
    }   
}